@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  /* Paleta de cores reorganizada */
  --black-1: #1a1a1a;
  --white-1: #ffffff;

  --gray-1: #1f1d2c; /* Cinza escuro */
  --gray-2: #262837; /* Cinza médio */
  --lightgray-1: #d1d1d1; /* Cinza claro */
  --lightgray-2: #ddd; /* Cinza muito claro */

  --purple-1: #441b97; /* Roxo escuro */
  --purple-2: #806dff; /* Roxo claro */

  --blue-1: #0c204b; /* Azul escuro */
  --blue-2: #5f84ff; /* Azul médio */
  --blue-3: #03a9f4; /* Azul claro */

  --green-1: #108663; /* Verde escuro */
  --green-2: #4ab178; /* Verde claro */

  --red-1: #dc3545; /* Vermelho escuro */
  --red-2: #ff5252; /* Vermelho claro */

  --orange-1: #f84c1c; /* Laranja */
  --yellow-1: #ffa000; /* Amarelo */

  --lightblue-1: #b6d4f2; /* Azul claro */
  --secondary: #2f2f4b; /* Azul secundário */
}

/* Permite hover na v4 do tailwindcss */
@custom-variant hover (&:hover);

.App {
  box-sizing: border-box;
  height: 100vh;
  background: #fff;
}
.bg-gray-1 {background: var(--gray-1);}
.bg-gray-2 {background: var(--gray-2);}

.bg-purple-1 {background: var(--purple-1);}
.bg-purple-2 {background: var(--purple-2);}
.border-purple-2 {border-color: var(--purple-2);}
.bg-purple-gradient {background: linear-gradient(45deg, var(--purple-1), var(--purple-2));}
.bg-purple-2-hover {background: var(--purple-2);}
.bg-purple-2-hover:hover {background: var(--purple-1);}
.bg-blue-1 {background: var(--nightblue);}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto 2rem;

}

.project-item {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;

}

td {
  align-items: center;
}

.btn-container {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.back-arrow {
  width: 2.5rem;
  height: 2.5rem;
}

.back-arrow path {
  fill: var(--blue-1);
}
a {
  text-decoration: none !important;
  color: inherit !important;
}