@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --purple-1: #441b97;
  --nightblue: #0c204b;
  --black-1: #1a1a1a;
  --red-1: #dc3545;
  --blue-1: #5f84ff;
  --lightblue: #b6d4f2;
  --lightgrey: #ddd;
  --green-1: #108663;
  --white-1: #ffffff;
  --grey-1: #707478;
  --orange-1: #f84c1c;
  /* Nova paleta escura */
  --green-1: #4ab178;
  --gray-1: #1f1d2c;
  --gray-2: #262837;
  --secondary: #2f2f4b;
  --lightgrey: #d1d1d1;
  --blue-1: #03a9f4;
  --red-1: #ff5252;
  --yellow-1: #ffa000;
}

/* Permite hover na v4 do tailwindcss */
@custom-variant hover (&:hover);

.App {
  box-sizing: border-box;
  height: 100vh;
  background: #fff;
}
.bg-gray-1 {background: var(--gray-1);}
.bg-gray-2 {background: var(--gray-2);}

.bg-purple {
  background: var(--purple-1);
}

.bg-blue {
  background: var(--nightblue);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto 2rem;

}

.project-item {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;

}

td {
  align-items: center;
}

.btn-container {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.back-arrow {
  width: 2.5rem;
  height: 2.5rem;
}

.back-arrow path {
  fill: var(--blue-1);
}